.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px 30px 30px 50px;
  max-width: 400px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
  border: 1px solid #6A6F4C;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #eeeded;
}

.card::before {
  content: '•';
  position: absolute;
  left: 20px;
  top: 32px;
  font-size: 1.5rem;
  color: var(--green-dark);
}

.title {
  font-size: 1.4rem;
  color: #333;
  margin: 0;
}

.descriptionWrapper {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.8s ease, opacity 1s ease;
  opacity: 0;
}

.descriptionWrapper.show {
  max-height: 500px;
  opacity: 1;
}

.description {
  margin-top: 12px;
  color: #666;
}